body {
	font-family: helvetica;
}

.iface {
	display: inline-block;
	margin: 20px;
	border: 1px solid #ddd;
	cursor: pointer;
}

.template {
	display: none;
}

.iface_block {
	width: auto;
	margin: auto;
}

.i_image {
	width: 100px;
	height: 70px;
	background-position: center bottom;
}

.mode_up {
	background-image: url(images/mode/up.gif);
	background-repeat: no-repeat;
}

.mode_busy {
	background-image: url(images/mode/busy.gif);
	background-repeat: no-repeat;
}

.mode_down {
	background-image: url(images/mode/down.png);
	background-repeat: no-repeat;
}

.warning {
	color: red;
	font-variant: small-caps;
}

.status .ip {
	margin: 0px 5px;
}

.status .arrow {
	font-size: large;
}

#log_block {
	position: absolute;
	right: 10px;
}

#log_block .log {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 5px 9px;
	display: table;
	margin: 10px auto;
	height: 30px;
}
#log_block .log.template {
	display: none;
}

#log_block .log span {
	vertical-align: middle;
}

#log_block .log .l_action {
	display: inline-block;
	height: 30px;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0px 8px;
}

#log_block .log .action_up {
	background-image: url(images/action/up.png);
	width: 17px;
}
#log_block .log .action_down {
	background-image: url(images/action/down.png);
	width: 17px;
}
#log_block .log .action_in {
	background-image: url(images/action/in.gif);
	width: 34px;
}
#log_block .log .action_out {
	background-image: url(images/action/out.png);
	width: 34px;
}

.iface .i_ipdata {
	display: none;
}

.invisible {
	visibility: hidden;
}

.ping {
	margin: 0px;
}

.ping .icon {
	font-size: small;
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-right: 3px;
}

.ping_trend_unknown .icon {
	font-size: inherit;
}
.ping_trend_up     .icon { color: #c00; }
.ping_trend_down   .icon { color: #0c0; }
.ping_trend_stable .icon { color: #00c; }
